*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes{
    border: 1rem solid black;
}

.box{
    padding: 5rem;
}

.box1{
    background-color: pink;
    grid-area: box1;
}

.box2{
    background-color: yellow;
    grid-area: box2;
}

.box3{
    background-color: lime;
    grid-area: box3;
}

.box4{
    background-color: mediumblue;
    grid-area: box4;
}

.box5{
    background-color: crimson;
    grid-area: box5;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 1rem;
    grid-template-areas: 'box3 box1 box5' 'box2 . box4';
}